
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
		color: Black;
		background-color: LightBlue;
		margin-left: 10%;
		margin-right: 10%;
		border: 10px solid orange;
		padding: 10px 10px 10px 10px;
		font-family: fantasy;
		text-align:center;
}	

h3, h4, h5, h6 {
				font-family: SimSun;
				text-align:center;
}
li {
	text-align:left;
}
p {
				font-family: 'Ubuntu', sans-serif;
				text-align:left;
}	

table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}

#bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#num1 {
  float: left;
  border-right:1px solid #bbb;
}

#num1:last-child {
  border-right: none;
}

#num1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#num1 a:hover:not(.active) {
  background-color: #111;
}

#num1 .active {
  background-color: #4CAF50;
}

#num1 a:link {
    color: blue;
}

#num1 a:visited {
    color: purple;
}

#num1 a:hover {
    color: red;
}

#num1 a:active {
    color: yellow;
}

img  {
  float: left;
}

p.clear {
  clear: both;
}

#img1 {

  -webkit-filter: saturate(800%); 
  filter: saturate(800%);
  margin-left: 40px;
  float: left;
}

#img2 {

 -webkit-filter: opacity(30%);
  filter: opacity(30%);
    margin-left: 40px;
      float: left;
}

#img3 {

  -webkit-filter: sepia(100%);
  filter: sepia(100%);
    margin-left: 40px;
      float: left;
}

#img4 {
  -webkit-filter: drop-shadow(8px 8px 10px green);
  filter: drop-shadow(8px 8px 10px green);
	margin-left: 40px;
    float: left;
}

#img1 {
  animation: img1 2s alternate infinite;
  -webkit-animation: img1 2s alternate infinite;
}

@-webkit-keyframes img1 {
  from {filter:invert(0%);}
  to {filter:invert(100%);}
}


@keyframes img1 {
  from {filter:invert(0%);}
  to {filter:invert(100%);}
}
